@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Source+Code+Pro');
$life-font: ('Source Code Pro', sans-serif);
$body-font: ('Crimson Text', serif);

body {
  font-family: $body-font;
}

.counter {
  display: block;
  height: 500px; 
  background-color: #ccc;
  display: flex;

  &__player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15rem;
    height: 100%;
    z-index: 0;

    &--1 {
      background-color: salmon;
    }

    &--2 {
      background-color: darkgray;
    }
  }

  &__life {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $life-font;
    z-index: 2;
    pointer-events: none;
  }

  &__button {
    border: none;
    background-color: #ddd;
    width: 85%;
    flex: 1;
    margin: 5px;
    font-size: 3rem;
    border-radius: 10px;
    color: white;
    opacity: .4;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
}
